/* CSS HEADER */
.header {
    background-image: url(../img/header4.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;

}
/* CSS POKEDEX */
.pokedex {
    /*background: tomato;*/
    background-image: url(../img/fondo\ pokedex2.png);
    background-size: cover;
    width: 80%;
    height: 600px;
    border-radius: 20px;
}
.pantallas {
    height: 80%;
}

.imagen-pantalla {
    background: white;
    width: 40%;
    height: 250px;
    border-radius: 20px;
    border: solid rgb(75, 74, 74) 15px;
}

.info-pantalla {
    background: #7cef4d;
    width: 40%;
    height: 250px;
    border-radius: 20px;
    border: solid rgb(75, 74, 74) 15px;
}
.buscador {
    width: 100%;
    height: 20%;
}
input, button {
    width: 400px;
}
/* CIERRE CSS POKEDEX */